.body-container {
  /* height: 600px;
  width: 100%; */
}

.body-container h1 {
  margin-top: 100px;
  text-align: center;
  text-shadow: gold;
  text-overflow: ellipsis;
  margin-bottom: 20px;
  text-decoration: underline;
}

.ban {
  height: 400px;
  width: 100%;
  border: 2px solid red;
}

.body-container h2 {
  text-align: center;
  color: red;
  margin-top: 10px;
  margin-bottom: 30px;
}
.cards {
  height: 300px;
  width: 100%;
  border: 2px solid red;
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}

.card1 {
  height: 300px;
  width: 350px;
  border: 2px solid black;
  justify-items: center;
  justify-content: space-evenly;
}

.body-container h3 {
  color: aqua;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.card2 {
  height: 300px;
  width: 350px;
  border: 2px solid black;
  justify-items: center;
  justify-content: space-evenly;
  border-radius: 50%;
}

.body-container button {
  justify-items: center;
  height: 100px;
}
